.text {
  margin: 40px 0;
}

.text h4 {
  margin-bottom: 16px;
}

.text h6 {
  color: var(--base-100);
}

.img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.btn {
  max-width: 144px;
  margin-left: auto;
  margin-right: auto;
}
