.dontMiss {
  padding: 32px;
  background-color: var(--base-400);
  border-radius: 20px;
  max-width: 402px;
}

.dontMiss h2 {
  margin-bottom: 12px;
}

.dontMiss h2,
.dontMiss p {
  text-align: center;
}

.dontMiss p {
  color: var(--base-100);
}

.dontMiss img {
  width: 100%;
  display: block;
  max-width: 280px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 32px;
}
