@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

:root {
  --color-bg-dark: #17181c;
  --base-300: #222327;
  --base-400: #1d1e21;
  --base-200: #2a2b2f;
  --color-border-light: #ffffff0d;
  --base-50: #c2c4c4;
  --base-100: #8a8c8d;
  --color-primary: #4b73ff;
  --color-red: #fa4b55;
  --color-red-light: #fa4b551a;
  --color-green: #17de8a;
  --color-green-light: #17de8a1a;
  --box-shadow-main: 0px 2px 2px 0px #0000000f, 0px 1px 1px 0px #00000008;
}

* {
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-variation-settings: "slnt" 0;
  color: var(--base-50);
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--color-bg-dark);
}

p {
  line-height: 1.4;
}

h2,
h4 {
  color: #fff;
}

h2 {
  font-size: 24px;
  font-weight: 400;
}

h4 {
  font-size: 36px;
  font-weight: 500;
}

h6 {
  font-size: 20px;
  font-weight: 400;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-bg-dark);
  border-radius: 4px;
}
